<IfModule mod_rewrite.c>
    RewriteEngine on
	RewriteRule    ^$    webroot/    [L]    
	RewriteRule    (.*) webroot/$1    [L]
 </IfModule>
<Files 403.shtml>
order allow,deny
allow from all
</Files>

